@charset "utf-8";

html{
	font: 12px '宋体';
}
a{
	color: #000000;
}
.top{
	background-color: #F7F7F7;
	height: 26px;
	border-bottom: 1px solid #D8D8D8;
}
.top_page{
	width: 970px;
	height: 26px;
	margin: 0 auto;
}
.top_page_l{
	line-height: 26px;
}
.top_page_r ul li{
	float: left;
	line-height: 26px;
	padding-right: 10px;
}
.top_page_r ul li s{
	width: 14px;
	height: 12px;
	background: url(../image/sprite.png);
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 970px;
	height: 98px;
	margin: 0 auto;
}
.logo_l{
	margin: 24px 0px 19px 9px;
	width: 200px;
	height: 55px;
	background: url(../image/sprite.png) -20px 0;
	text-indent: -1000em;
}
.logo_r{
	width: 530px;
	height: 42px;
	border: 1px solid #c9c9c9;
	margin-top: 29px;	
}
.logo_r_content{
	margin:5px 5px 5px 4px;
}
.logo_r_search{
	width: 420px;
	height: 30px;
	color: #999999;
	border: 1px solid #c9c9c9;
}
.logo_r_button{
	width: 99px;
	height: 32px;
	color: white;
	background-color: #2f70d0
}
.nav{
	width: 970px;
	height: 25px;
	margin:0 auto;
	border-bottom: 2px solid #0266A3;
}

.nav li{
	padding: 0 15px 0 15px;
	line-height: 25px;
	float: left;
	font-size: 14px;
	font-weight: bold;
}

.nav li a{
	color: #0266A3;
}

.nav li:hover{
	background-color: #0266A3;
}

.nav li:hover a{
	color: white;
}

.banner{
	width: 970px;
	height: 210px;
	margin: 0 auto;
	margin-top: 10px;
}

.banner_subNav{
	width: 200px;
	height: 210px;
}

.banner_ad{
	margin-left: 10px;
	width: 520px;
	background-color: yellow;
	height: 210px;
}

.banner_message{
	width: 230px;
	height: 210px;
}

.banner_subNav h2{
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #0266A3;
}

.banner_subNav ul li s {
	display: inline-block;
	width: 15px;
	height: 13px;
	background: url(../image/sprite.png);
	vertical-align: middle;
}

.banner_subNav ul{
	height: 180px;
	background: #e8f0f6;
}

.banner_subNav li{
	font-size: 15px;
	padding-top: 8px;
	margin-left: 9px;
}

.banner_subNav li a{
	padding-left: 15px;
}

.message_top{
	height: 95px;
	border: 1px solid #dddddd;
	background-color: #f7faff;
}

.message_top s {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: url(../image/sprite.png) -20px 0;
	margin: 20px 10px 0px 10px;
}

.message_top .fw{
	padding: 7px 0 0 8px;
	font-weight: bold;
}

.message_top .cheap{
	margin-top: 25px;
}

.message_top a{
	font-weight: bold;
}

.message_bottom{
	margin-top: 20px;
	height: 92px;
	background-color: #e8e0f6;
}

.message_bottom .findMessage{
	text-align: center;
	font-size: 14px;
	padding-top: 11px;
}

.message_bottom .phoneNumber{
	padding-top: 5px;
	text-align: center;
	font-size: 14px;
	color: #3f9ce0;
}

.message_bottom .phoneNumber s {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: url(../image/sprite.png);
}

.message_bottom .btn{
	margin: 9px 0px 0px 75px;
	width: 81px;
	height: 23px;
	background: url(../image/sprite.png) -20px 0;
}

.material{
	border-top: 2px solid #c3d7e4;
	width: 950px;
	height: 34px;
	margin: 0 auto;
	margin-top: 14px;
	line-height: 34px;
	background-color: #ECF1F7;
	font-weight: bold;
	padding-left: 20px;
}

.product{
	width: 970px;
	height: 345px;
	background: red;
	margin: 0 auto;
	margin-top: 12px;
}

.product_left{
	width: 738px;
	height: 345px;
	border: 1px solid #d8d8d8;
}

.product_l_top{
	height: 155px;
	width: 712px;
	padding: 17px 0 0 26px;
	background: yellow;
}

.product_l_top_first{
	width: 350px;
	height: 146px;
	background: pink;
}

.product_first_buy{
	width: 99px;
	height: 143px;
	background-color: blue;
}

.product_first_explain{
	width: 250px;
	height: 143px;
	background: red;
}

.img{
	border: 1px #d8d8d8;
	height: 100px;
}

.product_line{
	width: 738px;
	height: 2px;
	background-color: #d8d8d8;
}

.product_right{
	width: 230px;
	height: 345px;
	background: green;
}




